@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-windows-black: #202020;
  --color-windows-component: #2b2b2b;
  --color-fiap-pink: #ed145b;
  --radius-windows: 3px;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  height: 100vh;
  background: radial-gradient(ellipse at center, #1e293b, #000000);
}

html,
:root {
  height: 100vh;
  scrollbar-color: #2a3441 #0b0f12;
  scrollbar-width: thin;
}